@import url('../places/__place/place.css');
.places {
    width: 82%; /*984px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    /*border: 1px solid red;*/
}
@media (max-width : 1024px) {
    .places {
        width: 92%;
    }
    }
    @media (max-width : 768px) {
         
    }
    @media (max-width : 525px) {
        .places {
            width: 100%;
        }
         
    }
    @media (max-width : 390px) {
        .places {
            width: 100%;
        }
          
    }
    @media (max-width : 320px) {
         
    }