@import url('../header/__logo/header__logo.css');
@import url('../header/__lang/header__lang.css');

.header {
    display: flex;
    width: 91%; /*92*/
    /*width: 1184px;*/
    /*min-height: 52px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: flex-end;
    /*border: 1px solid green;*/
}
@media (min-width : 1440px) {
    
    /* стили для больших настольных компьютеров и ноутбуков */
}
@media (max-width : 1024px) {
    .header {
        width: 91%;
    }
    
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 390px) {
   /* .header {
        min-height: 42px;
    }*/
   
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}