.barentsburg__item-text {
    width: 380px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-top: 48px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    color: #FFFFFF;
    /*border: 1px solid red;*/
}