.intro__text {
    margin-top: 35px;
    margin-bottom: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;    
    color: #FFFFFF;
}
@media (max-width : 1024px) {


}
@media (max-width : 768px) {
    .intro__text {
        width: 92%;
    }


}
@media (max-width : 425px) {
             
}
@media (max-width : 390px) {
.intro__text {
    margin-left: 10px; 
    font-size: 12px;
    line-height: 19px;       
}
}
@media (max-width : 320px) {
             
}