@import url('../intro/__title/intro__title.css');
@import url('../intro/__subtitle/intro__subtitle.css');
@import url('../intro/__content-row/intro__content-row.css');
@import url('../intro/__text/intro__text.css');
.intro {
    width: 83%; /*984px;*/
    /*min-height: 437px;*/
    margin-top: 6%; /*80px;*/
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid red;*/
}
@media (max-width : 1024px) {
.intro {
     width: 90%;
}
}
@media (max-width : 777px) {
.intro {
     width: 95%;
}
}
@media (max-width : 425px) {
         
}
@media (max-width : 390px) {
     .intro {
          margin-top: 64px;
     }
          
}
@media (max-width : 320px) {
         
}