@import url('../_item/emblem__items-image.css');
@import url('../_item/emblem__items-city.css');
.emblem__items-item {
    width: 208px;
    /*height: 310px;*/
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
}